/* This code is owned by Pontus Johansson. */

@font-face {  font-family: eightbit; src:url('8bit16.ttf'), url('8bit16.eot'); }

body { font-family: eightbit; background-image:url(../SPRITES/bgPattern.png); background-repeat: repeat; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; 
    -moz-user-select: none; -ms-user-select: none; user-select: none;}

#world { width:1000px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); height:500px; background-color:#0089a2; position:fixed; top: 50%; left: 50%;
    margin-top: -250px; margin-left: -500px;}
#main  { position: absolute; top:40px; left:52px; width: 30px; height: 30px;  background-image:url(../SPRITES/main.png); z-index:2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.46);}
#monster { position: absolute; top: 145px; left:375px; width: 80px; height: 80px; background-image:url(../SPRITES/monster.png); z-index:2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.46);}
#monster1 { position: absolute; top: 320px; left:875px; width: 80px; height: 80px; background-image:url(../SPRITES/monster.png); z-index:2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); display:none;}

#showSafariSupportText{margin-left:25px; margin-top:-10px; display:none;}
#showSafariSupport{width:200px; height:65px; margin-top:-170px; display:none; background-color:#014f5d; border-width:5px; border-style:solid; border-color:#434343; top:-5px; right:20px; position:absolute; color:#fff;}

#qrCode{width:150px; height:150px; position:absolute; background-image:url(../SPRITES/qrcode.png);}
#winCounter{bottom:5px; width:120px; height:20px; position: absolute; left:25px; color:#014f5d; font-size:22px;}
#menuBox{background-color:#0089a2; width:150px; height: 300px; top:0; position: absolute; top:15px; left:5px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:5px; border-style:solid; border-color:#434343;}

#menuToggleOn{position: absolute; width:100px; height:25px; left:20px; bottom:105px; text-align:center; line-height: 25px; background-color:#fff;
    color:#014f5d; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-color:#014f5d; border-width:4px; border-style:solid;}
#menuToggleOn:active{ box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#infoToggleOn{position: absolute; width:100px; height:25px; left:20px; bottom:65px; text-align:center; line-height: 25px; background-color:#fff;
    color:#014f5d; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-color:#014f5d; border-width:4px; border-style:solid;}
#infoToggleOn:active{ box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#infoToggleOff{ position:absolute; width:10px; height:10px; z-index: 2; background-color:red; margin-top:10px; right:10px; border-color:#434343;
    box-shadow: 0 1px 1px rgba(0,0,0,0.46); border-width:4px; border-style:solid;}
#infoToggleOff:active{background-color:red; box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}
#infoArrows{margin-top:30px; margin-left:5px; width:160px;}
#infoDigitalKeys{margin-top:30px; margin-left:5px; width:160px;}
#infoTitle{font-size: 20px; text-align: center; margin-top:35px; }
#infoSlide{position:absolute; background-color:#0089a2; color:white; width: 160px; margin-top:16px; left:0px; margin-left:-175px; height:300px; 
box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:3; border-width:4px; border-style:solid; border-color:#434343;}

#menuToggleOff{ position:absolute; width:10px; height:10px; z-index: 2; background-color:red; margin-top:10px; right:10px; border-color:#434343;
    box-shadow: 0 1px 1px rgba(0,0,0,0.46); border-width:4px; border-style:solid;}
#menuToggleOff:active{background-color:red; box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}
#menuSlide{position:absolute; background-color:#0089a2; color:white; width: 160px; margin-top:16px; margin-left:-175px; height:375px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:4px; border-style:solid; border-color:#434343;}
#menuTitle{font-size: 20px; text-align: center; margin-top:20px; }
#musicMenu {width:130px; margin-left:10px; margin-top:13px; height:65px; position:absolute; background-color:#00788e; border-color:#014f5d;
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:5px; border-style:solid;}
#musicTitle {color:white; height:10px; margin-top:5px; text-align:center; line-height: 10px;}

#playButton {width: 50px; margin-left:5px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d;
    background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#playButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#muteButton {width: 50px; margin-left:70px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d;
    background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#muteButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#keyboardMenu {width:130px; height:65px; margin-left:10px; margin-top:30px; top:100px; position:absolute; background-color:#00788e; 
    border-color:#014f5d; box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:5px; border-style:solid;}
#keyboardTitle {color:white; height:10px; margin-top:5px; text-align:center; line-height: 10px;}
#keyboardOnButton {width: 50px; margin-left:5px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d; background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#keyboardOnButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#keyboardOffButton {width: 50px; margin-left:70px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d; background-color:#fff; box-shadow: inset 0px -2px 2px rgba(0,0,0,0.46);  border-width:3px; border-style:solid; border-color:#014f5d;}
#keyboardOffButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#statTracker {width:130px; height:65px; margin-left:10px; margin-top:114px; top:100px; position:absolute; background-color:#00788e; 
    border-color:#014f5d; box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:5px; border-style:solid;}
#statTitle {color:white; height:10px; margin-top:5px; text-align:center; line-height: 10px;}
#statOnButton {width: 50px; margin-left:5px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d;
    background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#statOnButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#statOffButton {width: 50px; margin-left:70px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d; background-color:#fff; box-shadow: inset 0px -2px 2px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#statOffButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#musicHardModeMenu {width:130px; margin-left:10px; margin-top:264px; height:65px; position:absolute; background-color:#00788e; 
    border-color:#014f5d; box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:4px; border-style:solid;}
#musicHardModeTitle {color:white; height:10px; margin-top:5px; text-align:center; line-height: 10px;}
#playHardModeButton {width: 50px; margin-left:5px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d; background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#playHardModeButton:active {box-shadow: 0 1px 4px rgba(0,0,0,0.46) inset;}

#muteHardModeButton {width: 50px; margin-left:70px; margin-top:7px; text-align:center; height:30px; line-height: 30px; position:absolute; color:#014f5d; background-color:#fff; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.46); border-width:3px; border-style:solid; border-color:#014f5d;}
#muteHardModeButton:active {box-shadow: inset 0px -2px 2px rgba(0,0,0,0.46);}

#infoPanel {height:50px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); display:none; left:50%; margin-left: -250px; width:500px; font-size:17px; position:absolute; color:white; border-color:#434343; border-width:5px; border-style:solid; background-color:#00788e; }

#counter {margin-left:65px; margin-top:20px; float:left;}
#artifactCounter {margin-left:20px; margin-top:20px; float:left;}
#deathCounter {margin-left:20px; margin-top:20px; float:left;}
#Collition {display:none;}

#buttonMenu { display:none; width:500px; height:50px; border-color:#434343; box-shadow: 0 1px 5px rgba(0,0,0,0.46); border-width:5px; 
    border-style:solid; background-color:#00788e; position:absolute; bottom:10px; left:50%; margin-left:-250px;}
#leftButton { display:none; width: 100px; height:40px; float:left; line-height: 40px; margin-top:5px; text-align:center; margin-left:5px; 
    border-style:none; color:white; background-color:#013841; box-shadow: 0 1px 5px rgba(0,0,0,0.46);}
#rightButton { display:none; width: 100px; height:40px; float:left; line-height: 40px; margin-top:5px; text-align:center; margin-left:20px; border-style:none; color:white; background-color:#013841; box-shadow: 0 1px 5px rgba(0,0,0,0.46);}
#upButton { display:none; width: 100px; height:40px; float:left; line-height: 40px; margin-top:5px; text-align:center; margin-left:20px; 
    border-style:none; color:white; background-color:#013841; box-shadow: 0 1px 5px rgba(0,0,0,0.46);}
#downButton { display:none; width: 100px; height:40px; float:left; line-height: 40px; margin-top:5px; text-align:center; margin-left:50px; 
    border-style:none; color:white; background-color:#013841; box-shadow: 0 1px 5px rgba(0,0,0,0.46);}

#artifact { position: absolute; width:20px; height: 20px;  background-image: url('../SPRITES/artifact.png');  top:200px; left:160px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:2;}
#artifact1 { position: absolute; width:20px; height: 20px;  background-image: url('../SPRITES/artifact.png');  top:200px; left:890px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:2;}
#artifact2 { position: absolute; width:20px; height: 20px;  background-image: url('../SPRITES/artifact.png');  top:400px; left:280px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:2;}
#artifact3 { position: absolute; width:20px; height: 20px;  background-image: url('../SPRITES/artifact.png');  top:400px; left:740px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:2;}

#movePlatform {position:absolute; width: 185px; height: 80px; background-image: url('../SPRITES/spriteStart1.png'); font-size:50px; bottom:25px; left:25px;}
#movePlatform1 {position:absolute; width: 145px; height: 120px; background-image: url('../SPRITES/spriteMidLeft1.png'); bottom:25px; left:370px; z-index:1;}
#movePlatform2 {position:absolute; width: 145px; height: 120px; background-image: url('../SPRITES/spriteMidLeft2.png'); bottom:25px; left:515px; z-index:1;}
#moveHardModePlatform {position:absolute; width: 0px; height: 0px; display:none; background-image: url('../SPRITES/spriteHardModeStart1.png'); bottom:25px; left:25px;}
#moveHardModePlatform1 {position:absolute; width: 0px; height: 0px; display:none; background-image: url('../SPRITES/spriteHardModeMidLeft1.png'); bottom:25px; left:370px;}
#moveHardModePlatform2 {position:absolute; width: 0px; height: 0px; display:none; background-image: url('../SPRITES/spriteHardModeMidLeft2.png'); bottom:25px; left:515px;}

#movePlatform3 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:none; top:25px; left:25px; z-index:1;}
#movePlatform4 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:none; bottom:105px; left:135px; z-index:1;}
#movePlatform5 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:none; top:25px; left:135px; z-index:1;}
#movePlatform6 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:none; bottom:25px; left:235px; z-index:1;}
#movePlatform7 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:block; bottom:145px; left:370px; z-index:1;}
#movePlatform8 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:block; bottom:145px; left:530px; z-index:1;}
#movePlatform9 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:block; top:25px; left:530px; z-index:1;}
#movePlatform10 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:block; bottom:25px; left:685px; z-index:1;}
#movePlatform11 {position:absolute; width: 0px; height: 0px; background-color:#960012; display:block; bottom:25px; left:835px; z-index:1;}

#wall { position: absolute; width: 320px; height: 25px; background-image:url(../SPRITES/wallMove.png); left:515px; top:120px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall1 { position: absolute; background-color: #434343; top: 0px; right: 0px; width: 25px; margin-top:25px; height: 450px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall2 { position: absolute; background-color: #434343; top: 0px; right: 0px; width: 100%; height: 25px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall3 { position: absolute; background-color: #434343; bottom: 0px; left: 0px; width: 100%; height: 25px; box-shadow: 0 1px 5px rgba(0,0,0,0.46);z-index: 2;}
#wall4 { position: absolute; background-color: #434343; top: 0px; left: 0px; width: 25px; margin-top:25px; height: 450px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall5 { position: absolute; width: 25px; height: 370px; background-image:url(../SPRITES/wallDown.png); left:110px; top:25px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall6 { position: absolute; width: 25px; height: 330px; background-image:url(../SPRITES/wallUp.png); left:210px; bottom:25px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall7 { position: absolute; width: 25px; height: 330px; background-image:url(../SPRITES/wallUp1.png); left:810px; bottom:25px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index:2;}
#wall8 { position: absolute; width: 25px; height: 330px; background-image:url(../SPRITES/wallDownMid.png); left:505px; top:25px; box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall9 { position: absolute; width: 25px; height: 330px; background-image:url(../SPRITES/wallUp1.png); left:345px; bottom:25px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}
#wall10 { position: absolute; width: 25px; height: 330px; background-image:url(../SPRITES/wallUp.png); left:660px; bottom:25px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.46); z-index: 2;}

#fixblock{position: absolute; background-color: #434343; z-index:3; width:40px; height:25px; left:0;}
#fixblock1{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; right:0;}
#fixblock2{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; right:0; bottom:0;}
#fixblock3{position: absolute; background-color: #434343; z-index:3; width:40px; height:25px; left:0; bottom:0;}
#fixblock4{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; margin-left:110px; }
#fixblock5{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; margin-left:505px; }
#fixblock6{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; bottom:0; margin-left:210px;}
#fixblock7{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; bottom:0; margin-left:345px;}
#fixblock8{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; bottom:0; margin-left:660px;}
#fixblock9{position: absolute; background-color: #434343; z-index:3; width:25px; height:40px; bottom:0; margin-left:810px;}